* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}
body {
    background: green;
}
.topleft {
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    float: left;
    display: inline-block;
}
.navbar {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 4px solid white;
}
.aboutme {
    padding-bottom: 20px;
}
.navlinks {
    /*position: absolute;*/
    /*float: left;*/
    /*right: 60px;
    top: 26px;*/
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-right: 40px;
}
a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover {
    color: lightgreen;
}
.aboutblock {
    height: 200px;
    position: relative;
    color: lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid grey;
}
.introblock {
    position: relative;
    height: 400px;
    /*background: url("waterfall.jpg") no-repeat fixed;*/
    background-color: blue;
}
.contactblock {
    height: 600px;
    position: relative;
    /*background: url("nature.jpg") no-repeat fixed;*/
    background-color: red;
}
.footerblock {
    width: 100%;
    border-top: 4px solid white;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gmaps {
    height: 350px;
    width: 400px;
    background-color: orange;
    margin-right: auto;
    margin-left: auto;
}
.titlewrap {
    float: right;
    position: relative;
    left: -50%;
}
footer {
    padding-left: 10px;
}
.title {
    color: lightgrey;
    text-align: center;
    font-size: 60px;
    margin-top: 160px;
    background: grey;
    float: left;
    position: relative;
    left: 50%;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
}
.contactblock h2 {
    padding-top: 100px;
}
.contactme {
    text-align: center;
}
.contactme a {
    padding: 0;
    color: lightgrey;
}
.footerspan {
    position: absolute;
    right: 10px;
    bottom: -10px;
}
