/* General */

* {
    margin: 0;
    padding: 0;
    font-family: 'Denk One', sans-serif;
    color: white;
    line-height: 1.5em;
}

body {
    background: url("backgroundpattern.jpg");
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    color: lightgreen;
}

h2 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}
/* Navigation */

.logospan {
    text-transform: uppercase;
    font-size: 26px;
    float: left;
}

.logospan img {
    height: 40px;
}

nav {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 4px solid white;
}

.navlinks {
    display: block;
    text-align: right;
    margin-top: 7px;
    margin-right: 30px;
}

/* Title */

.titlewrap {
    float: right;
    position: relative;
    left: -50%;
}

.title {
    color: yellow;
    text-align: center;
    font-size: 60px;
    margin-top: 160px;
    float: left;
    position: relative;
    left: 50%;
}

/* Intro */

.introblock {
    position: relative;
    height: 400px;
    background: url("natureimg.jpg") no-repeat fixed;
}

/* About Me */

.aboutme {
    padding-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.aboutblock {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid gray;
}

.aboutblock img {
    float: right;
    width: 35%;
    max-width: 200px;
    padding: 30px;
    padding-top: 0;
}

/* Contact */

.contactblock {
    height: 600px;
    position: relative;
    background: url("nature.jpg") no-repeat fixed;
}

.contactblock h2 {
    padding-top: 100px;
}

.contactme {
    text-align: center;
}

.contactme a {
    padding: 0;
    color: lightgray;
}
/*
.contactblock figure {
    height: 0;
    padding-bottom: 40%;
    position: relative;
    width: 100%
}
*/
.contactblock iframe {
    width: 40%;
    max-width: 700px;
    min-width: 300px;
    /*max-height: 350px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;*/
    height: 350px;
    border: 0px solid white;
}

/* Footer */

.footerblock {
    width: 100%;
    border-top: 4px solid white;
    background: url("backgroundpattern.jpg");
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding-left: 10px;
}

.footerspan {
    position: absolute;
    right: 10px;
    bottom: -20px;
}
